* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}
section p {
    font-size: 1rem;
}
section h4 {
    font-size: 1.5rem;
    font-weight: 500;
}
section h3,
footer h3 {
    font-size: 2rem;
    font-weight: 500;
}


/* utility classes  */

.border {
    border: 2px solid black;
}
.h-50 {
    height: 50px;
}
.h-80 {
    height: 80px;
}
.h-100 {
    height: 100px;
}
.h-200 {
    height: 200px;
}
.h-300 {
    height: 300px;
}
.h-400 {
    height: 400px;
}
.h-500 {
    height: 500px;
}
.h-600 {
    height: 600px;
}
.h-700 {
    height: 700px;
}


/* classi comuni */
.wrapper {
    width: 80%;
    min-width: 1000px;
    margin: auto;

    /* background-color: hotpink; */
}

.f-left {
    float: left;
}
.f-right {
    float: right;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.col-3 {
    width: 33.3%;
}
.col-2 {
    width: 50%;
}

.t-green {
    color: rgb(96, 184, 62);
}
.t-white {
    color: white;
}
.t-gray {
    color: rgb(116, 116, 116);
}
.t-dark {
    color: rgb(44, 44, 44);
}

/* link nella pagina */
.t-link {
    color: rgb(53, 131, 177);
    text-decoration: underline;
}
.t-link:hover {
    color: rgb(96, 184, 62);
}

.bg-gray {
    background-color: rgb(187, 187, 187);
}
.bg-blue {
    background-color: rgb(21, 61, 121);
}

/* centratura con absolute */
.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* header */
header {
    height: 80px;
}

nav #logo {
    height: 80px;
    width: 150px;
    position: relative;
}

nav {
    line-height: 80px;

    font-size: .7rem;
    text-transform: uppercase;
}

/* impostazioni menu */
nav li {
    display: inline-block;

    margin: 0 5px;
}
nav a{
    color: white;
    text-decoration: none;
    list-style-type: none;

    line-height: 80px;
}
li:hover a {
    color: rgb(96, 184, 62);
    font-weight: 900;
}

/* cta pulsanti */
.btn {
    border-style: none;
    border-radius: 5px;

    text-transform: uppercase;
    font-size: .7rem;

    cursor: pointer;
}
.small-btn {
    padding: 5px 15px;
}
.big-btn {
    padding: 20px 20px;
}
.btn.empty-btn {
    background-color: transparent;
    color: white;

    border: 1.5px solid white;
}
.green-btn {
    background-color: rgb(96, 184, 62);
    color: white;

    border: 1.5px solid rgb(96, 184, 62);
}


/* main */
main {width: 100%;}


/* hero */
#hero {
    height: 500px;
    width: 100%;

    background-image: url('../img/background-header.png');
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;

    position: relative;
}

#hero h1 {
    font-size: 3rem;
    font-weight: 500;

    margin-bottom: 20px;
}


/* banner grigio con testo */
section.banner {
    height: 150px;

    text-align: center;
    position: relative;
}
section.banner h4 {
    margin-bottom: 15px;
}


/* sezione delle promesse - promise - 3 colonne */
article.promise {
    padding: 50px 30px;

    text-align: center;
}

article .promise-title {
    height: 270px;
}

article.promise .img-col-3 {
    width: 100%;
    height: 150px;
}

.promise hr {
    width: 30%;
    margin: auto;
}

#our-promise h4 {
    margin-top: 15px;
}

#our-promise p {
    margin-top: 30px;
}

/* sezione english test - 2 colonne */
#english-test {
    padding: 50px;
}

#english-test .img-col-2 {
    width: 100%;
    height: 400px;
}

#english-test article {
    padding-right: 10%;
}

#english-test p.t-gray {
    margin: 30px 0;
}


/* help button */
#help-button {
    position: fixed;
    bottom: 0;
    right: 5%;

    border-radius: 5px 5px 0 0;

    z-index: 10;
}


/* footer */
footer {
    padding: 60px;
}

footer .col-dx {
    text-align: right;
}

footer h3 {
    line-height: 55px;
}

footer select {
    /* appearance: none; */
    background-color: transparent;
    color: rgb(116, 116, 116);

    border: none;
    border-bottom: 1px solid rgb(116, 116, 116);

    padding: 5px;
    margin: 0 20px;

    font-family: inherit;
    font-size: inherit;
}